body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}
header {
    background-color: #143769;
    color: #fff;
    text-align: center;
    padding: 1em;
}
section {
    margin: 20px;
    padding: 20px;
    background-color:;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color:skyblue;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff}